# Príklady riešení 1.1

Väčšina problémov v tomto kurze má viacero správnych riešení. Pre prípadné vysvetlenie sa obráťte na LLMs a/alebo autora.

## ⭐ **Úloha 03**
Definuj variably `x`, `y` a `z` tak, aby bol každý iného typu. Printni ich typy.

In [ ]:
x = 10
y = 2.5
z = "hello"

print(type(x), type(y), type(z))    ## demonštruje flexibilitu Pythonu s typmi (integer, float, string)

## ⭐ **Úloha 04**
Napíš program, ktorý printne súčin dvoch súčtov.

In [ ]:
a = 3 + 2           ## súčet č. 1
b = 5 + 4           ## súčet č. 2
product = a * b     ## súčin dvoch súčtov
print(product)

## ⭐ **Úloha 05**
Priraď hodnotu 3 variablu `x` a hodnotu 10 variably `y`. Printni hodnotu `28` použitím len týchto dvoch variablov a aritmetických operátorov.

In [ ]:
x = 3
y = 10
print(x**x + y%3)   ## využíva pokročilejšie operátory ako %, **, atď.

28

## ⭐ **Úloha 06**
Vytvor samostatné variably pre rôzne typy osobných údajov (meno, dátum narodenia, email atď.). Printni tieto údaje ako vizitku ("meno: John, vek: 23, atď.")

In [ ]:
name = "Alex"
dob = "2000-05-15"
email = "alex@example.com"
print(name + ", " + dob + ", " + email)   ## všimni si, že strings môžu byť spájané (concatenated) priamo v príkaze print; variably, ktoré sú už strings, nemusia byť v úvodzovkách.

Alex, 2000-05-15, alex@example.com

## ⭐ **Úloha 07**
Vytvor dva variably, jeden s hodinovou mzdou a jeden s odpracovanými hodinami. Printni hrubú mzdu a mzdu po 23% dani.

In [ ]:
hourly_wage = 20
hours_worked = 40
gross_pay = hourly_wage * hours_worked
net_pay = gross_pay * (1 - 0.23)
print(gross_pay, net_pay)    ##	modeluje jednoduchú aritmetickú logiku s premennými

## ⭐ **Úloha 08**
Sporiaci účet má na počiatku $1000. Majiteľka pridáva $100 každý mesiac pri 2.1% úrokovej sadzbe (počítanej mesačne). Printni sumu nasporenú po 2 rokoch.

In [ ]:
initial = 1000          ## počiatočná suma
monthly_add = 100       ## mesačný príspevok
rate = 0.021 / 12       ## mesačná úroková sadzba (float)
months = 24             ## definovaný počet mesiacov

final_balance = initial * (1 + rate)**months + monthly_add * (((1 + rate)**months - 1) / rate)
## aplikuje vzorec zloženého úročenia s pravidelnými príspevkami

print(final_balance)

## ⭐ **Úloha 09**
Priraď `3749` k variablu s názvom `seconds`, potom printni počet hodín a minút **bez** použitia operátorov `*` (násobenie) alebo `/` (delenie).

In [8]:
seconds = 3749

hours = seconds // 60 // 60                         ## 60 minút v hodine a 60 sekúnd v minúte (použitie //, floor division)
minutes = (seconds - hours * 60 * 60) // 60         ## zostávajúce sekundy prevedené na minúty
seconds = seconds - hours * 60 * 60 - minutes * 60  ## zostávajúce sekundy po zohľadnení hodín a minút

print(hours, "hours", minutes, "minutes", seconds, "seconds")

1 hours 2 minutes 29 seconds

## ⭐ **Úloha 10**
01/01/2025 padol na stredu. Použi operátory na výpočet toho, na ktorý deň v týždni padol 175. deň roku 2025.

In [ ]:
days_in_week = 7
day_of_year = 175
start_day = 3    ## predpokladáme, že rok začína v stredu (0=Ne, 1=Po, ..., 6=So)

weekday = (start_day + day_of_year - 1) % days_in_week  ## -1, pretože day_of_year začína od 1 (nie 0) 
print(weekday)   ## printne numerické zastúpenie dňa v týždni (0=Ne, 1=Po, ..., 6=So)

2

## ⭐ **Úloha 11**
Boolean variable `quartered` ukladá, či je číslo 4792 deliteľné 4. Printni hodnotu `quartered`.

In [ ]:
quartered = (4792 % 4 == 0) ## všimni si, že variable s názvom quartered ukladá boolean hodnotu (True/False), keďže vnútri je porovnávací operátor ==
print(quartered)

True

## ⭐ **Úloha 12**
V recepte sa píše, že 4 šálky múky a stačia na 5 ľudí. Vyškáluj recept tak, aby vyšiel na 7 ľudí. Porovnaj výsledky, keď počet šálok uložíš ako integer verzus float.

In [ ]:
recipe_people = 5
actual_people = 7

## výpočet ako integer
cups_int = 4
scaled_int = cups_int / recipe_people * actual_people ## vypočíta množstvo na osobu a potom násobí novým počtom ľudí

## výpočet ako float
cups_float = 4.0
scaled_float = cups_float / recipe_people * actual_people

print(scaled_int, scaled_float)

5.6000000000000005 5.6000000000000005

## ⭐ **Úloha 13**
Vytvor variable `age` s (realistickým) vekom. Vytvor variable, ktorý ukladá True, ak je vek nad 18, inak False. Printni výsledok.

In [ ]:
age = 20
is_adult = age > 18     ## operátor v priradení nastavuje is_adult na True alebo False na základe porovnania/porovnávacieho operátora
print(is_adult)

True

## ⭐ **Úloha 14**
Vytvor dva variables, jeden s počtom cookies a jeden s počtom ľudí, ktorí prídu. Vytvor boolean, ktorí ukladá True ak každý človek dostane aspoň jeden cookie, inak False. Printni výsledok.

In [ ]:
cookies = 12
people = 10
enough = cookies >= people ## vďaka porovnávaciemu operátoru, variable s názvom enough ukladá boolean hodnotu
print(enough)

## ⭐ **Úloha 15**
Počasie sa považuje za 'nepríjemné', ak teplota klesne pod 17 alebo stúpne nad 27. Ulož teplotu ako `x` a vytvor boolean variable s názvom `unpleasant`, ktorá vyhodnotí, či je počasie nepríjemné.

In [ ]:
x = 15 ## nahraď hodnotami 22 a 30 pre testovanie zvyšných prípadov
unpleasant = (x < 17) or (x > 27)
print(unpleasant)