# In-Class Problems

## ⭐ Task 01
Read the provided text file and only print the third line.

## ⭐ Task 02
Read the provided CSV file and print the first value in every row.

## ⭐ Task 03
Read the provided CSV file using `pandas`. Then add a column `discounted` that takes prices from column `price` and discounts everything by 20%.

## ⭐ Task 04
Read the provided CSV file using `pandas`. Then calculate the total revenue (Quantity × Unit Price) for all "Sale" transactions. Print the result.

## ⭐ Task 05
Read a CSV file and find all items where the sale price is more than double the purchase price. Print the item names and the markup percentage.

## ⭐ Task 06
Read a CSV file and find which date had the highest total quantity of items sold. Print the date and the total quantity.

## ⭐ Task 07
Read the provided CSV file using pandas. Filter to show only transactions where Quantity is greater than 100. Print the resulting dataframe.

## ⭐ Task 08
Read the provided CSV file and calculate the average unit price for each unique Item. Print the results showing Item name and its average price.

## ⭐ Task 09
Read the provided CSV file and propose which items the shop should buy more/less of. Justify your reasoning.

## ⭐ Task 10
Read a text file and print only the lines that are longer than 30 characters.

## ⭐ Task 11
Read a text file and find the longest line. Print the line number, the line content, and its length (number of characters).