# Module 4.1

## Reading TXT files

### Method no. 1: `.read()`

Method `.read()` returns the whole content of a txt file as an individual line

In [1]:
with open('textsample.txt', 'r') as file:
    content = file.read()
    print(content)

CINNAMON ROLLS: A QUICK GUIDE

Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.

1. THE DOUGH (Active Time: approx 15 min)

Start by activating your yeast (2.25 tsp) in 1/4 cup of warm water with a pinch of sugar. While it foams, gently melt 1/4 cup of butter into 1 cup of milk, then cool it slightly before stirring in 1/4 tsp of salt. Now, combine the yeast mixture, the milk mixture, and 1 large egg in a large bowl. Gradually add 3 to 3.5 cups of flour until a soft dough forms. Knead it for about 5 minutes until smooth, then let it rise in an oiled bowl for 1 hour.

2. THE FILLING & ASSEMBLY (Active Time: approx 10 min)

Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.

3. BAKE AND FROST (Total Time: approx 30 min)

Preheat your oven to 375Ã‚Â°F and bake the rolls for 20 to 25 minutes until they are lightly golden brown. As they cool slightly, prepare the frosting: simply beat together 4 oz of soft cream cheese, 2 Tbsp of soft butter, 1.5 cups of powdered sugar, and 1/2 tsp of vanilla. Add a tablespoon or two of milk until the desired fluffy consistency is reached. Slather the warm rolls generously with the cream cheese frosting.

Enjoy your incredibly soft and cinnamon-laced final product!

In [2]:
with open('textsample.txt', 'r', encoding='utf-8') as file: ## other encodings: 'utf-16', 'latin-1'
    content = file.read()
    print(content)

CINNAMON ROLLS: A QUICK GUIDE

Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.

1. THE DOUGH (Active Time: approx 15 min)

Start by activating your yeast (2.25 tsp) in 1/4 cup of warm water with a pinch of sugar. While it foams, gently melt 1/4 cup of butter into 1 cup of milk, then cool it slightly before stirring in 1/4 tsp of salt. Now, combine the yeast mixture, the milk mixture, and 1 large egg in a large bowl. Gradually add 3 to 3.5 cups of flour until a soft dough forms. Knead it for about 5 minutes until smooth, then let it rise in an oiled bowl for 1 hour.

2. THE FILLING & ASSEMBLY (Active Time: approx 10 min)

Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.

3. BAKE AND FROST (Total Time: approx 30 min)

Preheat your oven to 375Â°F and bake the rolls for 20 to 25 minutes until they are lightly golden brown. As they cool slightly, prepare the frosting: simply beat together 4 oz of soft cream cheese, 2 Tbsp of soft butter, 1.5 cups of powdered sugar, and 1/2 tsp of vanilla. Add a tablespoon or two of milk until the desired fluffy consistency is reached. Slather the warm rolls generously with the cream cheese frosting.

Enjoy your incredibly soft and cinnamon-laced final product!

In [3]:
## note that content is of type string
print(type(content))

<class 'str'>

In [4]:
## content is across multiple lines because the file has line breaks
content = content.replace('\n', ' ') ## if we replace line breaks with spaces
print(content) ## content will print as single line

CINNAMON ROLLS: A QUICK GUIDE  Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.  1. THE DOUGH (Active Time: approx 15 min)  Start by activating your yeast (2.25 tsp) in 1/4 cup of warm water with a pinch of sugar. While it foams, gently melt 1/4 cup of butter into 1 cup of milk, then cool it slightly before stirring in 1/4 tsp of salt. Now, combine the yeast mixture, the milk mixture, and 1 large egg in a large bowl. Gradually add 3 to 3.5 cups of flour until a soft dough forms. Knead it for about 5 minutes until smooth, then let it rise in an oiled bowl for 1 hour.  2. THE FILLING & ASSEMBLY (Active Time: approx 10 min)  Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.  3. BAKE AND FROST (Total Time: approx 30 min)  Preheat your oven to 375Â°F and bake the rolls for 20 to 25 minutes until they are lightly golden brown. As they cool slightly, prepare the frosting: simply beat together 4 oz of soft cream cheese, 2 Tbsp of soft butter, 1.5 cups of powdered sugar, and 1/2 tsp of vanilla. Add a tablespoon or two of milk until the desired fluffy consistency is reached. Slather the warm rolls generously with the cream cheese frosting.  Enjoy your incredibly soft and cinnamon-laced final product!

### Method no. 2: Iterate through lines in file 

Same as iterating through any items in any collection. Helpful if the goal is to process/access individual lines.

In [5]:
with open('textsample.txt', 'r') as file:
    for line in file:
        print(line.strip()) # .strip() removes \n at end of lines

CINNAMON ROLLS: A QUICK GUIDE

Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.

1. THE DOUGH (Active Time: approx 15 min)

Start by activating your yeast (2.25 tsp) in 1/4 cup of warm water with a pinch of sugar. While it foams, gently melt 1/4 cup of butter into 1 cup of milk, then cool it slightly before stirring in 1/4 tsp of salt. Now, combine the yeast mixture, the milk mixture, and 1 large egg in a large bowl. Gradually add 3 to 3.5 cups of flour until a soft dough forms. Knead it for about 5 minutes until smooth, then let it rise in an oiled bowl for 1 hour.

2. THE FILLING & ASSEMBLY (Active Time: approx 10 min)

Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.

3. BAKE AND FROST (Total Time: approx 30 min)

Preheat your oven to 375Ã‚Â°F and bake the rolls for 20 to 25 minutes until they are lightly golden brown. As they cool slightly, prepare the frosting: simply beat together 4 oz of soft cream cheese, 2 Tbsp of soft butter, 1.5 cups of powdered sugar, and 1/2 tsp of vanilla. Add a tablespoon or two of milk until the desired fluffy consistency is reached. Slather the warm rolls generously with the cream cheese frosting.

Enjoy your incredibly soft and cinnamon-laced final product!

### Reading (`r`) Versus Writing (`w`)

In [6]:
with open('textsample.txt', 'r') as file:
    content = file.read()
    content = content.upper()  ## you are able to modify content
    print(content)
    
with open('textsample.txt', 'r') as file: 
    content = file.read() ## but when you close and re-open the file and read again
    print(content) ## you get the original content back

CINNAMON ROLLS: A QUICK GUIDE

MAKING GREAT CINNAMON ROLLS IS ABOUT RESPECTING THE YEAST AND THE BUTTER. THIS GUIDE FOCUSES ON EFFICIENCY FOR A PERFECTLY GOOEY RESULT.

1. THE DOUGH (ACTIVE TIME: APPROX 15 MIN)

START BY ACTIVATING YOUR YEAST (2.25 TSP) IN 1/4 CUP OF WARM WATER WITH A PINCH OF SUGAR. WHILE IT FOAMS, GENTLY MELT 1/4 CUP OF BUTTER INTO 1 CUP OF MILK, THEN COOL IT SLIGHTLY BEFORE STIRRING IN 1/4 TSP OF SALT. NOW, COMBINE THE YEAST MIXTURE, THE MILK MIXTURE, AND 1 LARGE EGG IN A LARGE BOWL. GRADUALLY ADD 3 TO 3.5 CUPS OF FLOUR UNTIL A SOFT DOUGH FORMS. KNEAD IT FOR ABOUT 5 MINUTES UNTIL SMOOTH, THEN LET IT RISE IN AN OILED BOWL FOR 1 HOUR.

2. THE FILLING & ASSEMBLY (ACTIVE TIME: APPROX 10 MIN)

ONCE THE DOUGH HAS DOUBLED, PUNCH IT DOWN AND ROLL IT INTO A LARGE RECTANGLE (AROUND 12 IN X 18 IN). SPREAD 1/2 CUP OF SOFT BUTTER EVENLY ACROSS THE SURFACE. IN A SEPARATE BOWL, MIX 1 CUP OF PACKED BROWN SUGAR WITH 2 TABLESPOONS OF CINNAMON, AND SPRINKLE THIS RICH MIXTURE OVER THE BUTTER. ROLL THE DOUGH UP TIGHTLY FROM THE LONG EDGE INTO A CYLINDER. SLICE THIS LOG INTO 12 ROLLS AND PLACE THEM CUT-SIDE UP IN A GREASED 9 IN X 13 IN BAKING DISH. COVER AND LET THEM RISE ONE LAST TIME FOR 30 MINUTES.

3. BAKE AND FROST (TOTAL TIME: APPROX 30 MIN)

PREHEAT YOUR OVEN TO 375Ã‚Â°F AND BAKE THE ROLLS FOR 20 TO 25 MINUTES UNTIL THEY ARE LIGHTLY GOLDEN BROWN. AS THEY COOL SLIGHTLY, PREPARE THE FROSTING: SIMPLY BEAT TOGETHER 4 OZ OF SOFT CREAM CHEESE, 2 TBSP OF SOFT BUTTER, 1.5 CUPS OF POWDERED SUGAR, AND 1/2 TSP OF VANILLA. ADD A TABLESPOON OR TWO OF MILK UNTIL THE DESIRED FLUFFY CONSISTENCY IS REACHED. SLATHER THE WARM ROLLS GENEROUSLY WITH THE CREAM CHEESE FROSTING.

ENJOY YOUR INCREDIBLY SOFT AND CINNAMON-LACED FINAL PRODUCT!
CINNAMON ROLLS: A QUICK GUIDE

Making great cinnamon rolls is about respecting the yeast and the butter. This guide focuses on efficiency for a perfectly gooey result.

1. THE DOUGH (Active Time: approx 15 min)

Start by activating your yeast (2.25 tsp) in 1/4 cup of warm water with a pinch of sugar. While it foams, gently melt 1/4 cup of butter into 1 cup of milk, then cool it slightly before stirring in 1/4 tsp of salt. Now, combine the yeast mixture, the milk mixture, and 1 large egg in a large bowl. Gradually add 3 to 3.5 cups of flour until a soft dough forms. Knead it for about 5 minutes until smooth, then let it rise in an oiled bowl for 1 hour.

2. THE FILLING & ASSEMBLY (Active Time: approx 10 min)

Once the dough has doubled, punch it down and roll it into a large rectangle (around 12 in x 18 in). Spread 1/2 cup of soft butter evenly across the surface. In a separate bowl, mix 1 cup of packed brown sugar with 2 tablespoons of cinnamon, and sprinkle this rich mixture over the butter. Roll the dough up tightly from the long edge into a cylinder. Slice this log into 12 rolls and place them cut-side up in a greased 9 in x 13 in baking dish. Cover and let them rise one last time for 30 minutes.

3. BAKE AND FROST (Total Time: approx 30 min)

Preheat your oven to 375Ã‚Â°F and bake the rolls for 20 to 25 minutes until they are lightly golden brown. As they cool slightly, prepare the frosting: simply beat together 4 oz of soft cream cheese, 2 Tbsp of soft butter, 1.5 cups of powdered sugar, and 1/2 tsp of vanilla. Add a tablespoon or two of milk until the desired fluffy consistency is reached. Slather the warm rolls generously with the cream cheese frosting.

Enjoy your incredibly soft and cinnamon-laced final product!

In [ ]:
with open('textsample.txt', 'w') as file: 
    content = file.read()
    content = content.upper() 
    file.write(content)
    
## will raise error because the writer mode empties the file and you cannot read from an empty file

In [ ]:
## BUT! you can save all content in a variable
with open('textsample_backup.txt', 'r') as file:
    content = file.read()

content = content.upper() ## modify it outside the reader

with open('textsample_backup.txt', 'w') as file: 
    file.write(content) ## and write the modified content back to the emptied file
    
with open('textsample_backup.txt', 'r') as file:
    content = file.read() ## now when we read again
    print(content) ## we get the modified content

## Reading CSV files

### Method no. 1: `.read()`

Manual parsing, same as with TXT files.

In [7]:
with open('csvsample.csv', 'r') as file:
    content = file.read()
    lines = content.split('\n')
    
    for line in lines:
        values = line.split(',')
        print(values)

['Date', 'Type', 'Item', 'Quantity', 'Unit Price ($)', 'Notes']
['2025-11-01', 'Purchase', 'Bread', '100', '2.50', 'Standard supplier delivery']
['2025-11-01', 'Sale', 'Bread', '25', '4.99', 'Morning rush sales']
['2025-11-01', 'Sale', 'Milk', '30', '3.99', '']
['2025-11-02', 'Purchase', 'Milk', '120', '2.80', 'Dairy farm shipment']
['2025-11-02', 'Sale', 'Bread', '30', '4.99', '']
['2025-11-02', 'Sale', 'Egg', '40', '0.40', '"Sold by unit', ' not dozen"']
['2025-11-03', 'Purchase', 'Apple', '300', '0.30', 'Seasonal stock refill']
['2025-11-03', 'Sale', 'Milk', '35', '3.99', '']
['2025-11-03', 'Sale', 'Bread', '20', '4.99', '']
['2025-11-04', 'Purchase', 'Egg', '200', '0.25', 'Weekly crate order']
['2025-11-04', 'Sale', 'Apple', '50', '0.60', '']
['2025-11-04', 'Sale', 'Egg', '55', '0.40', '']
['2025-11-05', 'Sale', 'Milk', '45', '3.99', 'Afternoon traffic']
['2025-11-05', 'Sale', 'Apple', '60', '0.60', '']
['2025-11-05', 'Purchase', 'Bread', '150', '2.50', 'Urgent mid-week resupply']
['2025-11-06', 'Sale', 'Bread', '40', '4.99', '']
['2025-11-06', 'Sale', 'Egg', '65', '0.40', '']
['2025-11-06', 'Purchase', 'Apple', '100', '0.30', 'Small local grower batch']
['2025-11-07', 'Sale', 'Milk', '50', '3.99', 'End-of-week demand']
['2025-11-07', 'Sale', 'Apple', '75', '0.60', '']

### Method no. 2: Using `csv` module

In [9]:
import csv

In [10]:
with open('csvsample.csv', 'r') as file:
    reader = csv.reader(file)
    
    for row in reader:
        print(row)

['Date', 'Type', 'Item', 'Quantity', 'Unit Price ($)', 'Notes']
['2025-11-01', 'Purchase', 'Bread', '100', '2.50', 'Standard supplier delivery']
['2025-11-01', 'Sale', 'Bread', '25', '4.99', 'Morning rush sales']
['2025-11-01', 'Sale', 'Milk', '30', '3.99', '']
['2025-11-02', 'Purchase', 'Milk', '120', '2.80', 'Dairy farm shipment']
['2025-11-02', 'Sale', 'Bread', '30', '4.99', '']
['2025-11-02', 'Sale', 'Egg', '40', '0.40', 'Sold by unit, not dozen']
['2025-11-03', 'Purchase', 'Apple', '300', '0.30', 'Seasonal stock refill']
['2025-11-03', 'Sale', 'Milk', '35', '3.99', '']
['2025-11-03', 'Sale', 'Bread', '20', '4.99', '']
['2025-11-04', 'Purchase', 'Egg', '200', '0.25', 'Weekly crate order']
['2025-11-04', 'Sale', 'Apple', '50', '0.60', '']
['2025-11-04', 'Sale', 'Egg', '55', '0.40', '']
['2025-11-05', 'Sale', 'Milk', '45', '3.99', 'Afternoon traffic']
['2025-11-05', 'Sale', 'Apple', '60', '0.60', '']
['2025-11-05', 'Purchase', 'Bread', '150', '2.50', 'Urgent mid-week resupply']
['2025-11-06', 'Sale', 'Bread', '40', '4.99', '']
['2025-11-06', 'Sale', 'Egg', '65', '0.40', '']
['2025-11-06', 'Purchase', 'Apple', '100', '0.30', 'Small local grower batch']
['2025-11-07', 'Sale', 'Milk', '50', '3.99', 'End-of-week demand']
['2025-11-07', 'Sale', 'Apple', '75', '0.60', '']

In [11]:
## csv module also has DictReader for reading rows as dictionaries
with open('csvsample.csv', 'r') as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        print(row["Item"], row["Quantity"])

Bread 100
Bread 25
Milk 30
Milk 120
Bread 30
Egg 40
Apple 300
Milk 35
Bread 20
Egg 200
Apple 50
Egg 55
Milk 45
Apple 60
Bread 150
Bread 40
Egg 65
Apple 100
Milk 50
Apple 75

#### Method no. 3: Analysing Tables with `pandas`

`pandas` is a Python library that helps with organising tabular data.

##### Reading Files with `pandas`

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('csvsample.csv')

df ## command that works in Jupyter Notebooks and VS Code Notebooks instead of print()

,Date,Type,Item,Quantity,Unit Price ($),Notes
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales
2,2025-11-01,Sale,Milk,30,3.99,NaN
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment
4,2025-11-02,Sale,Bread,30,4.99,NaN
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen"
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill
7,2025-11-03,Sale,Milk,35,3.99,NaN
8,2025-11-03,Sale,Bread,20,4.99,NaN
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order
10,2025-11-04,Sale,Apple,50,0.60,NaN
11,2025-11-04,Sale,Egg,55,0.40,NaN
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic
13,2025-11-05,Sale,Apple,60,0.60,NaN
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply
15,2025-11-06,Sale,Bread,40,4.99,NaN
16,2025-11-06,Sale,Egg,65,0.40,NaN
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand
19,2025-11-07,Sale,Apple,75,0.60,NaN

##### Other stuff `pandas` can do

###### Printing some basic table info

In [14]:
df.head(3) ## prints first 3 rows

,Date,Type,Item,Quantity,Unit Price ($),Notes
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales
2,2025-11-01,Sale,Milk,30,3.99,NaN

In [15]:
df.tail() ## prints last 5 rows by default

,Date,Type,Item,Quantity,Unit Price ($),Notes
15,2025-11-06,Sale,Bread,40,4.99,NaN
16,2025-11-06,Sale,Egg,65,0.40,NaN
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand
19,2025-11-07,Sale,Apple,75,0.60,NaN

In [16]:
df.columns ## prints column names as an Index object

Index(['Date', 'Type', 'Item', 'Quantity', 'Unit Price ($)', 'Notes'], dtype='object')

In [17]:
print(df.shape) ## prints the table's "shape" (rows, columns)

(20, 6)

###### Iterating over Columns

In [18]:
print(df['Item']) ## prints the "Item" column

0     Bread
1     Bread
2      Milk
3      Milk
4     Bread
5       Egg
6     Apple
7      Milk
8     Bread
9       Egg
10    Apple
11      Egg
12     Milk
13    Apple
14    Bread
15    Bread
16      Egg
17    Apple
18     Milk
19    Apple
Name: Item, dtype: object

In [19]:
type(df['Item']) ## the type is a Pandas Series

pandas.core.series.Series

In [20]:
## so we can iterate over it!
for item in df['Item']:
    print(item)

Bread
Bread
Milk
Milk
Bread
Egg
Apple
Milk
Bread
Egg
Apple
Egg
Milk
Apple
Bread
Bread
Egg
Apple
Milk
Apple

###### Filtering

In [21]:
purchases = df[df['Type'] == 'Purchase'] ## makes a new df with only rows from previous df where Type is 'Purchase'; note that python filters everything that reurns True
purchases

,Date,Type,Item,Quantity,Unit Price ($),Notes
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch

In [22]:
## inside the brackets, we can use multiple logical operators with & (and) and | (or)
milk_sales = df[(df['Item'] == 'Milk') & (df['Type'] == 'Sale')]
milk_sales

          Date  Type  Item  Quantity  Unit Price ($)               Notes
2   2025-11-01  Sale  Milk        30            3.99                 NaN
7   2025-11-03  Sale  Milk        35            3.99                 NaN
12  2025-11-05  Sale  Milk        45            3.99   Afternoon traffic
18  2025-11-07  Sale  Milk        50            3.99  End-of-week demand

In [23]:
large_orders = df[df['Quantity'] > 50]
large_orders

,Date,Type,Item,Quantity,Unit Price ($),Notes
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order
11,2025-11-04,Sale,Egg,55,0.40,NaN
13,2025-11-05,Sale,Apple,60,0.60,NaN
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply
16,2025-11-06,Sale,Egg,65,0.40,NaN
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch
19,2025-11-07,Sale,Apple,75,0.60,NaN

###### Adding New Cols

In [24]:
df['Total Value'] = df['Quantity'] * df['Unit Price ($)']
df

,Date,Type,Item,Quantity,Unit Price ($),Notes,Total Value
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery,250.00
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,124.75
2,2025-11-01,Sale,Milk,30,3.99,NaN,119.70
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment,336.00
4,2025-11-02,Sale,Bread,30,4.99,NaN,149.70
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",16.00
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill,90.00
7,2025-11-03,Sale,Milk,35,3.99,NaN,139.65
8,2025-11-03,Sale,Bread,20,4.99,NaN,99.80
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order,50.00
10,2025-11-04,Sale,Apple,50,0.60,NaN,30.00
11,2025-11-04,Sale,Egg,55,0.40,NaN,22.00
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,179.55
13,2025-11-05,Sale,Apple,60,0.60,NaN,36.00
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply,375.00
15,2025-11-06,Sale,Bread,40,4.99,NaN,199.60
16,2025-11-06,Sale,Egg,65,0.40,NaN,26.00
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch,30.00
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,199.50
19,2025-11-07,Sale,Apple,75,0.60,NaN,45.00

###### Accessing Table Cell

In [44]:
value = df.loc[5, 'Item']
print(value)

Egg

In [45]:
value = df.iloc[2, 3]
print(value)

30

###### Grouping

In [ ]:
item_counts = df.groupby('Item').size() ## size is an aggregation function that counts number of rows per group
item_counts

Item
Apple    5
Bread    6
Egg      4
Milk     5
dtype: int64

In [26]:
avg_prices = df.groupby('Item')['Unit Price ($)'].mean()
avg_prices

Item
Apple    0.4800
Bread    4.1600
Egg      0.3625
Milk     3.7520
Name: Unit Price ($), dtype: float64

###### Sorting

In [40]:
sorted_asc = df.sort_values('Item')
sorted_asc

,Date,Type,Item,Quantity,Unit Price ($),Notes,Total Value
19,2025-11-07,Sale,Apple,75,0.60,NaN,45.00
17,2025-11-06,Purchase,Apple,100,0.30,Small local grower batch,30.00
13,2025-11-05,Sale,Apple,60,0.60,NaN,36.00
10,2025-11-04,Sale,Apple,50,0.60,NaN,30.00
6,2025-11-03,Purchase,Apple,300,0.30,Seasonal stock refill,90.00
15,2025-11-06,Sale,Bread,40,4.99,NaN,199.60
14,2025-11-05,Purchase,Bread,150,2.50,Urgent mid-week resupply,375.00
8,2025-11-03,Sale,Bread,20,4.99,NaN,99.80
0,2025-11-01,Purchase,Bread,100,2.50,Standard supplier delivery,250.00
4,2025-11-02,Sale,Bread,30,4.99,NaN,149.70
1,2025-11-01,Sale,Bread,25,4.99,Morning rush sales,124.75
5,2025-11-02,Sale,Egg,40,0.40,"Sold by unit, not dozen",16.00
11,2025-11-04,Sale,Egg,55,0.40,NaN,22.00
16,2025-11-06,Sale,Egg,65,0.40,NaN,26.00
9,2025-11-04,Purchase,Egg,200,0.25,Weekly crate order,50.00
18,2025-11-07,Sale,Milk,50,3.99,End-of-week demand,199.50
12,2025-11-05,Sale,Milk,45,3.99,Afternoon traffic,179.55
3,2025-11-02,Purchase,Milk,120,2.80,Dairy farm shipment,336.00
2,2025-11-01,Sale,Milk,30,3.99,NaN,119.70
7,2025-11-03,Sale,Milk,35,3.99,NaN,139.65

###### Other Basic Stats

In [28]:
## stats overview
print(df.describe())

         Quantity  Unit Price ($)  Total Value
count   20.000000       20.000000    20.000000
mean    79.500000        2.378500   125.912500
std     69.299123        1.950412   105.061477
min     20.000000        0.250000    16.000000
25%     38.750000        0.400000    34.500000
50%     52.500000        2.500000   109.750000
75%    100.000000        3.990000   184.537500
max    300.000000        4.990000   375.000000

In [29]:
print(df['Quantity'].median())

52.5

In [30]:
print(df['Quantity'].mean())

79.5

In [31]:
print(df['Quantity'].std())

69.29912280146576

In [32]:
print(df['Quantity'].sum())

1590

In [33]:
print(df['Quantity'].min())

20

In [34]:
print(df['Quantity'].max())

300

In [35]:
print(df['Type'].mode())

0    Sale
Name: Type, dtype: object

In [36]:
print(df['Quantity'].quantile(0.25)) ## percentile

38.75

In [37]:
print(df['Item'].nunique())

4