# Module 1.2

## Lists

In [1]:
my_list = [3, 7, 42]
print(my_list)
print(type(my_list))

[3, 7, 42]
<class 'list'>

In [2]:
my_list.append(100)
print(my_list)

[3, 7, 42, 100]

In [3]:
my_list.remove(7)
print(my_list)

[3, 42, 100]

In [4]:
print(my_list[1])

42

In [5]:
print(my_list[3])

IndexError: list index out of range

In [6]:
print(my_list[-1])

100

In [7]:
my_list = [1,2,2,3]
print(my_list)

[1, 2, 2, 3]

## Tuples

In [8]:
my_tuple = (159, 222, 200)
print(my_tuple)
print(type(my_tuple))

(159, 222, 200)
<class 'tuple'>

In [9]:
print(my_tuple[1] > my_tuple[0])

True

In [10]:
x, y, z = my_tuple ## unwrapping
print(x > y)

False

In [11]:
my_tuple[0] = 300 
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

## Range

In [12]:
my_range = range(2, 10, 2) ## start, end, step
print(my_range)
print(type(my_range))

range(2, 10, 2)
<class 'range'>

In [13]:
my_range = range(5)
for x in my_range:
    print(x)

0
1
2
3
4

In [16]:
my_range = range(-1, 5)
for x in my_range:
    print(x)

-1
0
1
2
3
4

In [17]:
my_range = range(5, 20, 3)
for x in my_range:
    print(x)

5
8
11
14
17

In [20]:
my_range = range(5, 20, 3)
print(list(my_range))

[5, 8, 11, 14, 17]

## Dictionaries

In [26]:
my_dict = {"name": "John", "age": 13, "nickname": "Johnny", "grade": 13}
print(my_dict)
print(type(my_dict))

{'name': 'John', 'age': 13, 'nickname': 'Johnny', 'grade': 13}
<class 'dict'>

In [22]:
print(my_dict["name"])

John

In [23]:
print(my_dict["address"])

KeyError: 'address'

In [27]:
## notice the . operator
print(my_dict.keys())
print(my_dict.values())

dict_keys(['name', 'age', 'nickname', 'grade'])
dict_values(['John', 13, 'Johnny', 13])

In [28]:
my_dict["nickname"] = "Joe"
print(my_dict)

{'name': 'John', 'age': 13, 'nickname': 'Joe', 'grade': 13}

## Sets

In [32]:
my_set = {"apple", "pear", "banana", "apple", "pear"}
print(type(my_set))

<class 'set'>

In [33]:
print(my_set)

{'banana', 'apple', 'pear'}

In [30]:
print(len(my_set))

3

In [31]:
my_set.add("orange")
print(my_set)

{'banana', 'apple', 'pear', 'orange'}

In [34]:
if 3 > 4:
    print("Hello")
elif 3 == 4:
    print("Good Day")
elif 3 == 5:
    print("Hi Ivana")
else:
    print("Good Night")

Good Night

In [ ]:
x = 4
y = -3

match x + y:
    case 1:
        print("Hello")
    case 2:
        print("Good Day")
    case 3: 
        print("Hi Ivana")
    case 4:
        print("Hi Ivana")

Hi Ivana

In [37]:
count = 0

while count < 5:
    print("Hi Ivana")
    count += 2

Hi Ivana
Hi Ivana
Hi Ivana

In [ ]:
my_set = {"apple", "banana", "pear"}

for x in my_set:
    print(x)

banana
apple
pear

In [39]:
my_list = ["apple", "banana", "pear"]

for x in my_list:
    print(x)

apple
banana
pear