# Example Solutions

Note that most problems in this course have multiple perfectly correct solutions. Please ask LLMs and/or reach out to the author for potential explanation.

## ⭐ **Task 03**
Define variables `x`, `y`, and `z` so that they are of different types each. Print their types.

In [ ]:
x = 10
y = 2.5
z = "hello"

print(type(x), type(y), type(z))    ##	this shows python's flexibility with types; recognize this when mixing strings, integers, and floats in code

## ⭐ **Task 04**
Write a program that prints the product of two sums.

In [ ]:
a = 3 + 2           ## sum no. 1
b = 5 + 4           ## sum no. 2
product = a * b     ## product of the two sums
print(product)

## ⭐ **Task 05**
Assign value 3 to `x` and value 10 to `y`. Print `28` using only these two variables and arithmetic operators.

In [5]:
x = 3
y = 10
print(x**x + y%3)   ## revise fancier operators like %, **, etc.

28

## ⭐ **Task 06**
Create separate variables for various types of personal data (name, DOB, email etc.). Then print this data.

In [6]:
name = "Alex"
dob = "2000-05-15"
email = "alex@example.com"
print(name + ", " + dob + ", " + email)   ## note that strings can be concatenated inside the print statement; variables that are already strings don't need to be in quotation marks

Alex, 2000-05-15, alex@example.com

## ⭐ **Task 07**
Create variables with hourly wage and hours worked. Print gross pay and pay after 23% tax.

In [ ]:
hourly_wage = 20
hours_worked = 40
gross_pay = hourly_wage * hours_worked
net_pay = gross_pay * (1 - 0.23)
print(gross_pay, net_pay)    ##	this models simple arithmetic logic; recognize this when simulating real-world calculations like salary or costs

## ⭐ **Task 08**
Assume a savings account with an initial $1000. The owner adds $100 every month at 2.1% interest rate (calculated monthly). Print the amount saved after 2 years.

In [ ]:
initial = 1000          ## initial amount
monthly_add = 100       ## monthly addition
rate = 0.021 / 12       ## monthly interest rate
months = 24             ## define number of months

final_balance = initial * (1 + rate)**months + monthly_add * (((1 + rate)**months - 1) / rate)
## this applies the compound interest formula with regular contributions

print(final_balance)

## ⭐ **Task 09**
Assign `3749` to a variable named `seconds`, then print the number of hours and minutes **without** the multiplication or division operator.

In [8]:
seconds = 3749

hours = seconds // 60 // 60                         ## 60 mins in an hour and 60 seconds in a minute    
minutes = (seconds - hours * 60 * 60) // 60         ## remaining seconds converted to minutes
seconds = seconds - hours * 60 * 60 - minutes * 60  ## remaining seconds after hours and minutes are accounted for

print(hours, "hours", minutes, "minutes", seconds, "seconds")

1 hours 2 minutes 29 seconds

## ⭐ **Task 10**
01/01/2025 fell on Wednesday. Use operators to compute what day of the week the 175th day of 2025 fell on.

In [9]:
days_in_week = 7
day_of_year = 175
start_day = 3    ## assuming year starts on a Wednesday (0=Sun, 1=Mon, ..., 6=Sat)

weekday = (start_day + day_of_year - 1) % days_in_week  ## -1 because day_of_year starts from 1 (not 0) 
print(weekday)   ## gives the numeric representation of the weekday (0=Sun, 1=Mon, ..., 6=Sat)

2

## ⭐ **Task 11**
The boolean variable `quartered` stores whether or not the number 4792 is divisible by 4. Print the value of `quartered`.

In [10]:
quartered = (4792 % 4 == 0) ## note that variable named quartered stores a boolean value (True/False) because of the comparison operator ==
print(quartered)

True

## ⭐ **Task 12**
Recipe calls for 4 cups of flour and serves 5 people. Scale it to serve 7 people. Compare the results of when you store the number of cups as an integer versus float in your calculation.

In [11]:
recipe_people = 5
actual_people = 7

## compute as integer
cups_int = 4
scaled_int = cups_int / recipe_people * actual_people ## computes the amount per person, then multiplies by new number of people

## compute as float
cups_float = 4.0
scaled_float = cups_float / recipe_people * actual_people

print(scaled_int, scaled_float)

5.6000000000000005 5.6000000000000005

## ⭐ **Task 13**
Create a variable storing a (realistic) age. Create a variable that stores True if the age is above 18, False otherwise. Print the variable.

In [12]:
age = 20
is_adult = age > 18     ## operator inside the assignment sets is_adult to True or False based on the condition
print(is_adult)

True

## ⭐ **Task 14**
Create two variables, one for the number of cookies and one for the number of people attending. Create a boolean checking whether each person gets at least one cookie, then print the result.

In [ ]:
cookies = 12
people = 10
enough = cookies >= people ## assignment operator ensures that variable named enough stores a boolean value
print(enough)

## ⭐ **Task 15**
Weather is considered 'unpleasant' if the temperature falls below 17 or rises above 27. Store the temperature as `x` and create a boolean variable called `unpleasant` that evaluates whether the weather is unpleasant. Test with temperatures 15, 22, and 30.

In [ ]:
x = 15 ## replace with 22 and 30 to test other cases
unpleasant = (x < 17) or (x > 27)
print(unpleasant)