# Module 1.1: Data Types & Operators

## Primitive Data Types

### `Int`

In [2]:
my_int = 9
print(type(my_int))
print(my_int)

<class 'int'>
9

### `Float`

In [3]:
my_float = 10.0
print(type(my_float))

<class 'float'>

In [6]:
## the precision issue
sum_float = 0.1 + 0.2
martina_float = 0.2 + 0.1
print(sum_float)
print(sum_float == martina_float)

0.30000000000000004
True

### `Str`

In [7]:
my_str = "Hello World"
print(type(my_str))

<class 'str'>

In [8]:
my_other_str = 'Hello World'
print(my_other_str == my_str)

True

### `Bool`

In [9]:
my_bool = 1 > 2
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

### Conversion Between Types

In [10]:
convert_to_int = int(3.7)
print(convert_to_int)

3

In [11]:
convert_to_float = float(5)
print(convert_to_float)

5.0

In [12]:
convert_to_str = str(0.5)
print(convert_to_str)
## now you won't be able to do math with it

0.5

In [13]:
print(type(convert_to_str))

<class 'str'>

In [14]:
convert_str = int("Hello World")
print(convert_str)
## this will throw an error because "Hello World" cannot be interpreted as an integer

ValueError: invalid literal for int() with base 10: 'Hello World'

## Operators

### Assignment Operators

In [15]:
x = 2
print(x)

2

In [16]:
x += 3
print(x)

5

In [17]:
x -= 4
print(x)

1

In [18]:
x **= 2
print(x)

1

### Arithmetic Operators

In [19]:
result = 5 + 3
print(f"5 + 3 = {result}")

5 + 3 = 8

In [20]:

result = 10 - 4 - 2
print(f"10 - 4 - 2 = {result}")

10 - 4 - 2 = 4

In [21]:

result = 4 * 7
print(f"4 * 7 = {result}")

4 * 7 = 28

In [22]:
result = 15 / 3
print(f"15 / 3 = {result}")

15 / 3 = 5.0

In [23]:

result = 17 // 3
print(f"17 // 3 = {result} (quotient without the remainder)")

17 // 3 = 5 (quotient without the remainder)

In [24]:

result = 2 ** 3
print(f"2 ** 3 = {result}")

2 ** 3 = 8

In [25]:

result = 17 % 5
print(f"17 % 5 = {result} (remainder when 17 is divided by 5)")

17 % 5 = 2 (remainder when 17 is divided by 5)

### Logical Operators

In [26]:
x = 7
y = 12
print(f"x = {x}, y = {y}")

x = 7, y = 12

In [27]:
result = x > 5 and y < 10
print(f"x > 5 and y < 10 → {result}")

x > 5 and y < 10 → False

In [28]:
result = x > 5 or y < 10
print(f"x > 5 or y < 10 → {result}")

x > 5 or y < 10 → True

In [29]:
result = x < 5 or y < 10
print(f"x < 5 or y < 10 → {result}")

x < 5 or y < 10 → False

In [30]:
result = not x > 5
print(f"not x > 5 → {result}")

not x > 5 → False

In [31]:

result = not (x < 5)
print(f"not x < 5 → {result}")

not x < 5 → True

### Comparison Operators

In [32]:
x = 5
y = 10
print(f"x = {x}, y = {y}")

x = 5, y = 10

In [33]:
print(x == y)

False

In [34]:
print(x != y)

True

In [35]:
print(x > y)

False

In [36]:
print(y > x)

True

In [37]:
print(y//2 >= x)

True