# Module 3.1

## Classes & Objects

### Initialisation

In [1]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

### String

In [2]:
john = Student("John", 20, "90%")
print(john)

<__main__.Student object at 0x0000020245972E40>

In [31]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        
    def __str__(self):
        return "Name: %s, Age: %s, Grade: %s" % (self.name, self.age, self.grade)
    
    def calculate_average(math_grade, science_grade):
        average = (math_grade + science_grade) / 2
        return average

In [36]:
john1 = Student("John", "20", "90%")
john2 = Student("John", "20", "90%")
print(john1)
print(john2)

print(john1 == john2)  # False, different objects in memory

Name: John, Age: 20, Grade: 90%
Name: John, Age: 20, Grade: 90%
False

In [29]:
sarah = Student("Sarah", "22", "95%")
print(sarah)
peter = Student("Peter", "21", "88%")
print(peter)

Name: Sarah, Age: 22, Grade: 95%
Name: Peter, Age: 21, Grade: 88%

In [38]:
list_of_students = [sarah, peter, john1, john2, "2"]

for student in list_of_students:
    print(student.name)

Sarah
Peter
John
John

AttributeError: 'str' object has no attribute 'name'

In [32]:
calculated_average = Student.calculate_average(85, 90)
print("Calculated Average: %.1f%%" % calculated_average)

Calculated Average: 87.5%

### Other Format Specifiers

In [9]:
student_name = "Emma"
math_grade = 95
science_grade = 88
average = (math_grade + science_grade) / 2
lettergrade = 'A'

print("Name: %s, %c" % (student_name, math_grade))
print("Math: %d%%" % math_grade)
print("Science: %d%%" % science_grade)
print("Average: %.1f%%" % average)
print("Letter Grade: %c" % lettergrade)

Name: Emma, _
Math: 95%
Science: 88%
Average: 91.5%
Letter Grade: A

### Other Stuff to Do with Objects

#### Changing Object Attributes

In [10]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        
    def __str__(self):
        return "Name: %s, Age: %d, Grade: %s" % (self.name, self.age, self.grade)

In [11]:
john = Student("John", 20, "90%")
print(john)

Name: John, Age: 20, Grade: 90%

In [12]:
jessica.age = 21
print(jessica)

NameError: name 'jessica' is not defined

In [13]:
john.age = 21
print(john)

Name: John, Age: 21, Grade: 90%

In [14]:
print(john.age)

21

#### Creating & Calling Custom Methods

In [15]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        self.study_hours = 0
        
    def __str__(self):
        return "Name: %s, Age: %d, Grade: %s" % (self.name, self.age, self.grade)
    
    def study(self, hours):
        self.study_hours += hours
        print("%s studied for %d hours." % (self.name, hours) + " Total study hours: %d" % self.study_hours)

In [16]:
john = Student("John", 20, "90%")
print(john.study_hours)

0

In [17]:
john.study(3)

John studied for 3 hours. Total study hours: 3

In [18]:
john.study(2)

John studied for 2 hours. Total study hours: 5

In [19]:
print(john.study_hours)

5