# Module 3.1

## Classes & Objects

### Initialisation

In [9]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

### String

In [10]:
john = Student("John", 20, "90%")
print(john)

<__main__.Student object at 0x00000263909C4AD0>

In [11]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        
    def __str__(self):
        return "Name: %s, Age: %d, Grade: %s" % (self.name, self.age, self.grade)

In [12]:
john = Student("John", "20", "90%")
print(john)

TypeError: %d format: a real number is required, not str

### Other Format Specifiers

In [14]:
student_name = "Emma"
math_grade = 95
science_grade = 88
average = (math_grade + science_grade) / 2
lettergrade = 'A'

print("Name: %s" % student_name)
print("Math: %d%%" % math_grade)
print("Science: %d%%" % science_grade)
print("Average: %.1f%%" % average)
print("Letter Grade: %c" % lettergrade)

Name: Emma
Math: 95%
Science: 88%
Average: 91.5%
Letter Grade: A

### Other Stuff to Do with Objects

#### Changing Object Parameters

In [ ]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        
    def __str__(self):
        return "Name: %s, Age: %d, Grade: %s" % (self.name, self.age, self.grade)

In [ ]:
john = Student("John", 20, "90%")
print(john)

In [ ]:
john.age = 21
print(john)

#### Creating & Calling Custom Methods

In [ ]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        self.study_hours = 0
        
    def __str__(self):
        return "Name: %s, Age: %d, Grade: %s" % (self.name, self.age, self.grade)
    
    def study(self, hours):
        self.study_hours += hours
        print("%s studied for %d hours." % (self.name, hours) + " Total study hours: %d" % self.study_hours)

In [ ]:
john = Student("John", 20, "90%")
print(john.study_hours)

In [ ]:
john.study(3)

In [ ]:
print(john.study_hours)